    <section>
        <div class="second-page-header bg-img-dark">
            <div class="top-header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Informações</h1>

                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section>
        <div class="block2">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box-border wow fadeInLeft" data-wow-duration="1s">
                            <h3 class="corhinode2"><i class="fa fa-pencil-square-o corhinode2"></i> Como Pagar?</h3>
                            <hr>
                            <div class="table-responsive" align="center">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                               <strong>Cartão de crédito</strong> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                Aceitamos os cartões Visa, MasterCard, Hipercard, Diners, American Express e Aura para pagamento à vista, de acordo com a condição disponível para o produto que você deseja. Para sua segurança, não guardaremos os dados do seu cartão de crédito em nosso cadastro após a compra.
                                                <br/>    
                                                Lembramos que ao prazo de entrega informado em seu pedido deverá ser somado o prazo para aprovação da compra pela administradora do seu cartão de crédito. Essa aprovação geralmente ocorre em até 24h de acordo com o horário em que o pedido foi feito.
                                                <br/>
                                                Não aceitamos cartões emitidos no exterior.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                               <strong>Transferência eletrônica ou depósito bancário</strong> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                Os pagamentos através de depósito bancário, transferência eletrônica (entre contas) ou DOC são também uma forma prática e segura para compras realizadas na Internet, pois os clientes não necessitam inserir dados, como número de cartão de crédito ou senha.
                                                <br/>    
                                                A forma de pagamento por transferência eletrônica consiste na simples transferência entre contas, seja do mesmo banco, seja de bancos diferentes (chamada de DOC), que você pode fazer pelo seu banco na Internet ou em qualquer agência do seu banco.
                                                <br/>
                                                A conta bancária aparecerá na finalização da compra, podendo ser feito o pagamento por uma das 3 formas acima, da maneira que for melhor para você no banco Bradesco.
                                                <br/>
                                                Os pedidos serão enviados após confirmação do pagamento que pode ser feita via e-mail  ou pelo telefone (11) 4196-4355.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                               <strong>Boleto bancário</strong> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                O pagamento com boleto bancário deverá ser feito à vista, ou seja, em uma única parcela, no valor total do seu pedido de compra. O boleto poderá ser quitado em qualquer banco ou através do seu banco pela Internet (home banking) até a data do vencimento. O valor do boleto será igual ao total do seu pedido de compra (pagamento à vista), somado o valor do frete.
                                                <br/>    
                                                Lembramos que ao prazo de entrega informado em seu pedido deverá ser somado o prazo para a confirmação do pagamento do boleto pelo banco. Essa confirmação geralmente ocorre em até 72h úteis (2ª a 6ª feira, exceto feriados) após a quitação (prazo variável conforme o aviso de pagamento a ser enviado pelo banco recebedor).
                                                <br/>
                                               A não quitação do boleto bancário até o vencimento acarretará o cancelamento do pedido.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </article>

                </div>

            </div>
        </div>
    </section>