    <section>
        <div class="second-page-header bg-img-dark">
            <div class="top-header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Informações</h1>

                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section>
        <div class="block2">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box-border wow fadeInLeft" data-wow-duration="1s">
                            <h3 class="corhinode2"><i class="fa fa-pencil-square-o corhinode2"></i> Como Comprar?</h3>
                            <hr>
                            <div class="table-responsive" align="center">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                Para comprar na Hinode é muito fácil: você poderá localizar os produtos que desejar por categoria ou código; basta escolher a quantidade desejada e adicioná-la ao carrinho, e repetir esse processo para todos os itens que desejar comprar.
                                                <br/>  
                                                Quando quiser concluir a compra, você deverá ir até o carrinho de compras (visualizado no topo da página). 
                                                <br/>  
                                                Feito isso, você irá conferir todos os itens do seu pedido; se estiver satisfeito com o seu pedido basta você clicar em "Finalizar"!
                                                <br/>  
                                                Caso deseje adicionar mais itens ao seu carrinho basta clicar em "Continuar Comprando" e você será redirecionado à página inicial de nossa loja!
                                                <br/>  
                                                Você pode, também no carrinho, alterar as quantidades dos produtos da forma que desejar, ou até mesmo excluí-los!
                                            </td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>