    <section>
        <div class="second-page-header bg-img-dark">
            <div class="top-header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Informações</h1>

                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section>
        <div class="block2">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box-border wow fadeInLeft" data-wow-duration="1s">
                            <h3 class="corhinode2"><i class="fa fa-pencil-square-o corhinode2"></i> Logística e Frete</h3>
                            <hr>
                            <div class="table-responsive" align="center">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                               <strong>Logística</strong> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                Os pedidos efetuados pela Internet serão recebidos pela Hinode, automaticamente. O pedido somente será enviado para separação e faturamento caso esteja com todos os pontos atendidos pelo site, cumprindo-se todas as exigências do pedido e do pagamento.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                               <strong>Procedimentos de remessa - Frete</strong> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                A Hinode oferece um serviço de transportes “porta-a-porta” (aéreo ou rodoviário). 
                                                <br/>
                                                Para garantir que a entrega de seu pedido seja feita com a total segurança e agilidade que o comércio eletrônico pode proporcionar, possuímos uma taxa de serviço de entrega. 
                                                <br/>
                                                O valor adotado para esse serviço é a somatória de uma taxa básica de envio para determinada região mais o frete estipulado por unidade de produto, sendo que ambos variam por região de entrega. 
                                                <br/>
                                                O prazo de entrega e a taxa de transporte a ser cobrada serão fornecidos no fechamento do pedido. 
                                                <br/>
                                                Os produtos estão de acordo com as normas e regulamentos locais e destinam-se à comercialização somente no Brasil. 
                                                <br/>
                                                Não serão enviadas encomendas para fora do país. 
                                                <br/>
                                                Em caso de dúvida, contate a nossa Central de Atendimento pelo telefone 0800-160046.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </article>

                </div>

            </div>
        </div>
    </section>