    <section>
        <div class="second-page-header bg-img-dark">
            <div class="top-header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Informações</h1>

                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section>
        <div class="block2">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box-border wow fadeInLeft" data-wow-duration="1s">
                            <h3 class="corhinode2"><i class="fa fa-pencil-square-o corhinode2"></i> Sobre a Empresa</h3>
                            <hr>
                            <div class="table-responsive" align="center">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:justify">
                                                A palavra Hinode significa o primeiro raio de sol do primeiro dia do ano. É o Sol Nascente de todos os dias e a esperança renovada na conquista dos seus sonhos. Inspirados nessa imagem de esperança, Adelaide Garcia Rodrigues e Francisco Rodrigues fundaram a Hinode Cosméticos tendo em seus corações o sonho de poder oferecer a todas as pessoas uma oportunidade para mudar de vida.
                                                <br/>    
                                                Hoje, com 20 anos de mercado, a Hinode já mudou a vida de milhares de pessoas no Brasil, oferecendo em seu Universo da Beleza uma completa linha de mais de 300 itens para cuidados e tratamentos facial, corporal, capilar, maquiagem, linha infantil, perfumaria feminina e masculina, entre outros.
                                                <br/>
                                                Qualidade assegurada dos produtos, aliada a um sistema de marketing simples, acessível e lucrativo que reconhece e premia as pessoas que têm garra, determinação, coragem, entusiasmo e que são comprometidas com seu desenvolvimento pessoal e profissional, norteiam as diretrizes da empresa.
                                                <br/>
                                                Hinode é uma empresa de relacionamento humano e realizadora de sonhos, comercializando produtos de altíssima qualidade para a beleza e bem estar de todas as pessoas e oferecendo o melhor sistema de Marketing Multinível como oportunidade real e concreta de mudança e conquista de um futuro promissor.
                                                <br/>
                                                O primeiro raio de Sol renova a cada dia a vontade do ser humano de viver melhor num mundo melhor.
                                            </td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </article>

                </div>

            </div>
        </div>
    </section>