    <section>
        <div class="second-page-header bg-img-dark">
            <div class="top-header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Informações</h1>
                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section>
        <div class="block2">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box-border wow fadeInLeft" data-wow-duration="1s">
                            <h3 class="corhinode2"><i class="fa fa-pencil-square-o corhinode2"></i> Termos de Troca</h3>
                            <hr>
                            <div class="table-responsive" align="center">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <td class="col-lg-12 cinza" style="text-align:center">
                                                <embed src="/assets/arquivos/politica-de-troca-e-devolucao-de-produtos.pdf" width="600" height="900px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                                            </td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </article>

                </div>

            </div>
        </div>
    </section>