    <section>
        <div class="block2">
            <div class="container">
                <div class="block-product-tab">
                    <div class="header-for-light clearfix">
                        <h2 class="corhinode2">Aproveite também</h2>
                    </div>
                    <ul class="nav nav-pills tab-horizantal"></ul>
                    <div class="tab-content">
                        <div class="tab-pane active animated fadeIn" id="new">
                            <div class="row">
                                <div id="owl-news"  class="owl-carousel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){            
            listarAproveite();
        });
        
        function listarAproveite(){
            categoria = '<?=(isset($detalhes['idCategoria'])?$detalhes['idCategoria']:'-1')?>';
            produto = '<?=(isset($detalhes['IdProduto'])?$detalhes['IdProduto']:'')?>';
            
            $.ajax({
                url: "/produto/listar-aproveite", //URL de destino
                data: {
                    categoria: categoria,
                    produto: produto
                },
                method: "post", //Tipo de Retorno
                async: false,
                beforeSend: function () {

                },
                success: function (retorno) { //Se ocorrer tudo certo
                    
                    $("#owl-news").html('');
                    lista = '';
                    $.each(retorno, function (index, produtos) {
                            lista += '<div class="owl-item" style="width: 234px; margin-right: 0px;"><div class="text-center item">';
                            lista += '<article class="product">';
                            lista += '<figure class="figure-hover-overlay around">';                                                                        
                            lista += '<a class="figure-href"></a>';
                            lista += '<a href="/produto/detalhe/'+produtos.codigo+'" class="product-compare" title="Ver Detalhes">';
                            lista += '<i class="ion-ios-eye-outline"></i>';
                            lista += '</a>';
                            lista += '<a onclick="addItemDesejos(\''+produtos.IdProduto+'\')" style="cursor:pointer;" class="product-wishlist" title="Adicionar aos Meus Desejos" ><i class="ion-ios-heart-outline"></i></a>';
                            if(produtos.estoque>0){
                                lista += '<a onclick="addItem(\''+produtos.IdProduto+'\')" style="cursor:pointer;" class="product-cart" title="Add to Cart"><i class="ion-ios-cart-outline"></i> </a>';
                            }
                            lista += '<img class="img-overlay img-responsive" src="'+produtos.foto+'" alt="" title="" style="height:200px;">';
                            lista += '<img class="img-responsive" src="'+produtos.foto+'" alt="" title="" style="height:200px;">';
                            lista += '</figure>';
                            lista += '<div class="product-caption">';
                            lista += '<div class="block-name" style="height:150px;">';
                            lista += '<a href="/produto/detalhe/'+produtos.codigo+'" class="product-name">'+produtos.Nome+'</a>';
                            lista += '<!--<div class="product-rating">';
                            lista += '<div class="stars">';
                            lista += '<span class="star"></span><span class="star active"></span>';
                            lista += '<span class="star active"></span><span class="star active"></span><span class="star active"></span>';
                            lista += '</div>-->';
                            lista += '<p class="product-price">'+produtos.valor+'</p>';                            
                            lista += '</div>'; 
                            lista += '</div>';
                            lista += '</div>';
                            lista += '</article>';
                            lista += '</div></div>';
                    });
                    $("#owl-news").html(lista);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log('Status:' + xhr.status + ' - erro:' + thrownError);
                },
                complete: function () {

                }
            });            
        }
    </script>
