<?php
    echo $this->partial('partials/banner'); 
?>
    <section>
        
        <div>
            
            OI
            
        </div>
        
      
    </section>
    <script>
        $(document).ready(function(){
           
        });
    </script>